body {
  padding: 50px;
  font-size: 16px;
  background-color: #66CCFF;
  font-family: Helvetica, Arial, sans-serif;
}

h1{
  text-align: center;
}

#container {
  display: flex;
  justify-content: center;
}

.todoListMain .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
  width: 165px;
}
.todoListMain .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
}
.todoListMain .header button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}
.todoListMain .itemList {
  list-style: none;
  padding-left: 0;
  /* width: 250px; */
} 
.todoListMain .itemList li {
  color: #333;
  background-color: rgba(255,255,255,.5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
}

ul button{
  float: right;
}

ul.itemList {
  padding: 0;
}